@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body, html{
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

body{
    background-image: url("./assets/day.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#topbar{
    /* background-color: lightblue; */
    padding: 20px;
    margin-bottom: 6vw;
    
}

#topButtons{
    /* display: flex; */
    /* flex-direction:row; */
    /* display: inline-block; */
    float: right;
}

h1{
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    font-size: 2.5vw;
    padding: 0.1em;
    background-color:#57d854;
}

.container div{
    all:unset;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    /* margin-left: 2em; */
    position: relative;
    text-align: center;
}

.container p{
    margin: 0;
    font-size: 1.4em;
    font-weight: 800;
}

.portraits{
    border: 2px solid transparent;
    width: 6.5vw;
    margin: 1px;
}

.portraits:hover{
    background: #2ea1fb;
    /* border: 2px dashed black; */
}

.dark{
    opacity: 0.4;
}

footer{
    font-family: 'Inter', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #57d854;
    color: black;
    text-align: center;
    font-size: 0.9vw;
    padding: 0.2vw;
}

.container > div {
    display: inline-block;
    margin-bottom: 20px;
}

/* #nightBtn img{
    width:40px;
    background-color: transparent;
} */

button img{
    width:40px;
    background-color: transparent;
}

button{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
