@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body, html{
    /* padding: 2em; */
    /* padding-top: 0; */
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    /* margin-left: 2em; */
    position: relative;
    text-align: center;
}

.container p{
    margin: 0;
    display:inline-block;
}

.portraits{
    border: 2px solid black;
}

.portraits:hover{
    background: gray;
}

.dark{
    opacity: 0.3;
}

footer{
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
}