@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@font-face {
    font-family: "stardew";
    src: url("./assets/fonts/Stardew_Valley.ttf");
}

body, html{
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

body{
    background-image: url("./assets/day.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin: 0;
    margin-bottom: 3vw;
    text-align: center;
    font-size: 2.5vw;
    /* font-family: "stardew"; */

}

.container div{
    all:unset;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    /* margin-left: 2em; */
    position: relative;
    text-align: center;

}

.container p{
    margin: 0;
    font-size: 1.4em;
    font-weight: 800;
}

.portraits{
    border: 2px solid black;
    width: 6.5vw;
    margin: 1px;
}

.portraits:hover{
    background: gray;
}

.dark{
    opacity: 0.5;
}

footer{
    font-family: 'Inter', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
    font-size: 0.9vw;
    padding: 0.2vw;
}

.container > div {
    display: inline-block;
    margin-bottom: 20px;
}

#nightBtn img{
    width:40px;
    background-color: transparent;
}

#nightBtn{
    background-color: transparent;
}
